/*Colores y fuentes*/
$color-background:#172755;
$color-background-card:#0f1f4b;
$color-background-body:#EEEEF6;
$color-button:#EF2A82;
$color-text-main:#FFFFFF;
$color-text:#D9D9D9;
$color-text-secondary:#8794BA;
$color-border:#465B95;
$color-border-button:#2a407c;
$text-price:60px;
$titulo-h1:50px;
$titulo-h2:40px;
$titulo-h3:16px;
$subtitulo:30px;
$parrafo:18px;