/*Colores y fuentes*/
$color-background:#172755;
$color-background-body:#EEEEF6;
$color-button:#EF2A82;
$color-text-main:#FFFFFF;
$color-text:#D9D9D9;
$color-text-secondary:#8794BA;
$color-border:#465B95;
$titulo-h1:50px $color-text-main 700;
$titulo-h2:40px $color-background 700;
